@use "variables" as *;
@use "./Text/text" as *;

$border-weight: 3px;

@mixin retro-container {
  box-shadow: 0 0 0 $border-weight $border-color;
  border-radius: 0;
  background-color: $background;
  border-radius: 0;
}

@mixin container {
  box-shadow: 0 0 0 $border-weight $border-color;
  border-radius: 0;
  background-color: $background;
  border-radius: 0;
}
@mixin shadow() {
  box-shadow: 0.5em 0.5em $shadow;
}
@mixin shaded-container(
  $font: $font-dark,
  $background: $background-shaded,
  $border: $border-color
) {
  //@include  container();
  box-shadow: 0 0 0 $border-weight $border;
  background-color: $background;
  color: $font;
  background-image: url("./Assets/pixel.png");
}

@mixin text {
  padding: 0.2em;
}

body {
  background: $background;
}
.App {
  display: flex;
  flex-direction: column;
  background: $background;
  justify-content: center;
  align-items: center;
  cursor: url("./Assets/bunny_cursor.png"), auto;
}

.section {
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2%;
  margin: 1em;
}

.pdf {
  width: 100%;
  height: 100%;
}
.main-container {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  background: $background;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 1%;
  //height: 100%;
  align-self: center;
  max-width: 6vw;
  height: auto;
  opacity: 80%;
}

.scroll-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 0;
  font-size: 1.5em;
}

//====================INFO-CARD============

.name-and-logo {
  display: flex;
  flex-direction: column;
  width: 30% !important;
  flex: 0 0 10vw;
  padding: 0.8em;
  margin: 1%;
  filter: grayscale(0.3);
  text-align: center;

  .caption {
    padding-top: 1em;
    font-size: 1.1em !important;
  }
}

.border {
  box-shadow: 0 0 0 1px #333;
  border-radius: 0;
}

//============CONTAINERS================
.container {
  // basic container
  display: flex;
  width: 100%;
  max-width: 100%;

  gap: 0.5em;

  // row-gap: 1em;
  // column-gap: 1em;
  &.float-left {
    float: left;
  }
  &.float-right {
    float: right;
  }

  &.flex-start {
    align-items: flex-start;
  }
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.wrapped {
  flex-wrap: wrap;
}
.no-wrap {
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.standout {
  // border-radius: 2em;
  // padding: 1em;
  align-self: center;
  overflow: hidden;
  // padding: 1.5em;
  // margin-bottom: 1.5em;
  // margin-top: 1.5em;
  font-size: 1.3em;
  @include shaded-container();
  // @include  container-light();
}

.list-element a {
  color: $terminal-text-color;
  font-family: $font-semi-bold;
}
.title {
  font-size: 2em;
  font-weight: 500;
}
.logo {
  border-radius: 100%;
  image-rendering: optimizeQuality;
  opacity: 95%;
  width: 8vw;
  align-self: center;
}

.button {
  -webkit-transition: all 1s ease;
  transition: all 0.5s ease;
  color: $font-medium-darker;
  border: none;
  background: none;
}
.button:hover {
  color: $font-medium-dark;
  cursor: url("./Assets/bunny_pointer.png"), pointer;
}

.bi-arrow-bar-down {
  color: #000;
}
.mute-button {
  z-index: 99;
  top: 0;
  right: 0;
  position: absolute;
  //color: $accent-background;
  align-self: flex-start;
}
.mute-button:hover {
  color: $font-medium-dark;
}

.tab {
  width: 100%;
  display: flex;
  z-index: 9;
  justify-content: center;
  min-height: 3em;
  flex-direction: column;
  @include shaded-container();
  .pill-badge {
    border: none;
    box-shadow: none;
  }
}
.upper {
  top: 0;
}

.lower {
  bottom: 0;
}

.lower::after {
  background-image: url("./Assets/sand.png");
  height: 1em;
  width: 100%;
  // height: 12px;
  left: 0;
  padding: 0;
  bottom: 0;
  pointer-events: none;
  content: " ";
  display: block;
}

.hstack {
  max-width: 95%;
}
.vstack {
  gap: 1.2em;
}

.list-element {
  @include text();
  width: 100%;
  justify-content: space-between;
  display: flex;

  margin: 0;
  align-items: flex-start;
  flex-direction: row;
}

.tab .list-element {
  padding: 0 1vw 0 1vw;
  align-items: center;
}

.modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

body::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  width: 1em;

  @include container();
}

body::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-track {
  @include shaded-container();
  border-left: 2px solid $border-color;
}

body::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb {
  background-image: url("./Assets/scrollbar_grabber.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-left: 2px solid $border-color;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
  @include container();
}

body::-webkit-scrollbar-thumb:hover,
.scrollable::-webkit-scrollbar-thumb:hover {
  background-image: url("./Assets/scrollbar_grabber.svg");
  background-repeat: no-repeat;
  background-position: center;
  @include container();
}

// .scroll {
//   right: 1vw;
//   position: fixed;
//   align-self: flex-end;
//   z-index: 99999;
//   font-size: 1.5em;
// }

// .lower-button {
//   align-items: flex-end !important;
// }
.list-icon {
  padding: 0;
  margin: 1em;
  font-size: 0.4vw;
}

/// ====== media queries

@media only screen and (max-width: $tablet-width) {
  body,
  .scrollable {
    overflow: overlay;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  body::-webkit-scrollbar,
  .scrollable-element::-webkit-scrollbar {
    display: none;
  }

  .main-container {
    gap: 0.5em;
  }
  .tab {
    .list-element {
      padding: 0em 2vw 0em 2vw;
    }
  }
  #about {
    .media-friendly {
      flex-direction: column;
    }
    .carousel-image-container {
      max-width: 40vw !important;
    }
  }

  #projects {
    .indicator-button {
      padding: 0;
    }
  }
  .section {
    width: 100vw;
  }

  .logo {
    width: 30vw;
    align-self: center;
  }

  #education,
  #experience {
    width: 85vw;
  }

  .icon-button {
    font-size: 4vw;
  }
  .caption {
    align-self: center;
  }

  .name-and-logo {
    width: 100% !important;
    max-width: 100% !important;
  }

  .list-element {
    .date {
      font-size: 2.5vw !important;
    }
  }

  .list-icon {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: $small-desktop-width) {
  // for smaller than desktop
  .media-friendly {
    flex-direction: column;
    //row-gap: 0em;
  }

  .inner-content {
    flex-direction: column;
  }
  #inner-modal {
    .media-friendly {
      flex-direction: column;
    }
    // .carousel-image-container {
    //   height: 100%;
    //   width: auto;
    //   //width: 85%;
    //   //height: auto;
    // }
  }

  .vstack {
    width: 90%;
    align-self: center;
    padding: 1em;
  }

  .text-container {
    max-width: 100%;
  }
  .date {
    white-space: wrap;
  }
  .name-and-logo {
    flex-direction: column;
    width: 40%;
  }
}

@media only screen and (max-height: $mobile-width) and (orientation: landscape) {
  .media-friendly {
    flex-direction: row !important;
  }
  .inner-content {
    flex-direction: row;
  }
  #about {
    .carousel-container {
      align-self: flex-start;
      padding-top: 10vw;
    }
    .container.vertical.center {
      width: 100%;
    }
  }

  .panel {
    .paragraph {
      font-size: 1.5vw !important;
    }
    .list-element {
      .date {
        font-size: 1.2vw !important;
      }
    }
    .name-and-logo {
      .logo {
        max-width: 12vw;
      }
      justify-self: center;
      align-self: flex-start;
      .caption {
        font-size: 1.5vw !important;
      }
    }
    .tab {
      .date {
        font-size: 1.2vw !important;
      }
      .caption {
        font-size: 2vw;
      }
      .pill-badge {
        font-size: 1.5vw;
      }
    }
  }
}
