$background-highlighted: #ffff;
$background: #edf9ff;
$background-shaded: #b0e5ff;

$terminal-color: #141414;
//fonts
$font-dark: #2d2e2e;
$font-medium-dark: #56c7fd;
$font-medium-darker: #347b9c;
$terminal-text-color: #4af626;

$border-color: #56c7fd;
$shadow: #0003;

// skills
$prominent-badge-background: #f1eeff;
$prominent-badge-font: #c3b6ff;

$badge-background: #f1eeff;
$badge-font: #c3b6ff;

$small-badge-background: #9bff7b;
$small-badge-font: #367922;

// breakpoints
$large-desktop-width: 1900px;
$small-desktop-width: 1400px;
$tablet-width: 1000px;
$mobile-width: 450px;

$nav-bar-height: 5vh;
$nav-bar-mobile-height: 8vh;
$nav-bar-size: 0.8em;
