@use "../../Global/App.scss" as *;
@use "../../Global/variables" as *;
@use "../../Global/Text/text.scss" as *;

.skills {
  row-gap: 2%;
  column-gap: 2%;
}

.centered {
  justify-content: center;
}

// .tag {
//   border-radius: 25%;
//   background-color: $tag-color;
//   padding: 1%;
//   max-width: 15%;
//   color: white;
//   border: none;
//   cursor: pointer;
//   transition: background-color 0.3s ease;

//   &:hover {
//     background-color: darken($tag-color, 10%);
//   }

//   &:focus {
//     outline: none;
//   }
// }
