@use "../../app" as *;
@use "../../variables" as *;
@use "../../Text/text.scss" as *;

.carousel {
  width: 100%;
}
.video-container {
  max-width: 100%;
}
.video-container::-webkit-media-controls {
  display: none;
}
.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.carousel-image-container {
  // width:95%;
  overflow: hidden;
  @include container();
  padding: 0;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  margin: 0;
  //margin-bottom: 1em;
}

.carousel-item {
  transition: opacity 0.5s ease-in-out;
}

.portrait {
  aspect-ratio: 4/5;
}

.landscape {
  aspect-ratio: 16/9;
}

.square {
  aspect-ratio: 1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;

  @include container();
}

.indicator-button {
  margin: 0;
  padding: 0;
}
.image-controller {
  display: flex;
  align-items: center;
  // column-gap:
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 0 !important;
  margin: 0;
  gap: 0 !important;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.indicator {
  display: flex;
  width: 10%;
  height: 0.5em;
  background-color: $background-shaded;
}

.indicators-bar {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  justify-content: center;
}
.indicator-active {
  @extend .indicator;
  background-color: $border-color;
}
@media only screen and (max-width: $tablet-width) {
  .image-controller {
    max-height: 64vh;
    width: auto;
  }
}
@media only screen and (max-width: $tablet-width) {
  .carousel-image-container {
    width: 100%;
    height: auto;
  }

  .image-controller {
    height: fit-content;
    width: 100%;
  }
}

@media only screen and (min-width: (1 + $small-desktop-width)) {
  #inner-modal {
    .carousel-image-container {
      height: 100% !important;
      width: 100% !important;
    }
    .image-controller {
      width: 60vw !important;
      height: auto;
    }
  }
}
